*{box-sizing: border-box; margin: 0; padding: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
.flex{display: flex;}
.cen{margin: 0 auto;}
.jsb{justify-content: space-between;}
.width{width: 1349px;}
.main-fashion{margin-left: 100px; margin-right:100px;}
.whole-fashion{background-color: whitesmoke;}
/* ramadan banner  */
.bannerfashion a{padding-right: 10px; color: black; text-decoration: none;}
#f{color: gray;}
.bannerfashion img{width: 100%; height: 400px; padding-top: 10px;cursor: pointer;}
#ad{padding-left: 100px; padding-right: 100px; height: 100px;cursor: pointer;}
/* sales  */
.sales{background-color: white; width:100%; margin-top: 20px; padding: 15px;}
.grid-fashion{display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); padding-top: 10px; gap: 10px;}
.grid-fashion1{display: grid; grid-template-columns: repeat(6,1fr); padding-top: 10px; gap: 10px;}
.grid-fashion2{display: grid; grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); padding-top: 10px; gap: 10px;}
.fashion-item{height: 280px; cursor: pointer;}
.fashion-item1{height: 220px; cursor: pointer;}
.fashion-item2{height: 247px; cursor: pointer;}
.fashion-item3{height: 430px; cursor: pointer; margin-top: 30px;}
.secondback img{width: 100%; height: 185px;}
.secondback1 img{width: 100%; height: auto;}
.sml{color: grey; padding-left: 10px;}
.nm{padding-bottom: 10px; padding-left: 10px; padding-right: 8px; font-size: 14px; text-transform: capitalize; margin-top: 8px;}
.mn{padding-left: 10px; padding-right: 8px; font-size: 14px; text-transform: capitalize; margin-top: 8px; text-align: center;}
.amt{padding-left: 10px;}
.dis{background-color: #feefde; color:#f68b1e; padding: 5px; width: 40px; font-size: 12px; height: 24px; margin-left: -50px; margin-top: 10px;} 
.diss{background-color: #feefde; color:#f68b1e; padding: 5px; width: 40px; font-size: 12px; height: 24px; margin-left: 10px;} 
.fashion-item:hover{transform: scale(1.01,1.01); box-shadow: 0 5px 15px rgba(0,0,0,0.15);}
.fashion-item1:hover{transform: scale(1.01,1.01); box-shadow: 0 5px 15px rgba(0,0,0,0.15);}
.fashion-item2:hover{transform: scale(1.01,1.01); box-shadow: 0 5px 15px rgba(0,0,0,0.15);}
.fashion-item3:hover{transform: scale(1.01,1.01); box-shadow: 0 5px 15px rgba(0,0,0,0.15); }
.see{color: #f68b1e;}
.brand-name{font-size: 20px; padding-bottom: 10px;}
/* walk section  */
.grid-walk{display: grid; grid-template-columns: repeat(3,1fr); gap: 10px; padding-top: 10px; background-color: white; width:100%; margin-top: 20px; padding: 15px;}
.secondback2 img{width: 100%; height: auto;}
/* category  */
.cate-fash{color: #422842; margin-top: 20px;}
.category{width: 30%; background-color: white; padding: 10px;}
.category h4{margin-bottom: 10px;}
.category li{list-style: none; margin-left: 10px;}
.category ul p, .category ul li{line-height: 30px; cursor: pointer;}
.category ul p:hover, .category ul li:hover{background-color: whitesmoke;}
.gender{padding-top: 10px; line-height: 30px; height: 200px; overflow-y: scroll;}
.gender-line:hover{ background-color: wheat; cursor: pointer;}
.fashion{width: 70%; background-color: white; margin-left: 20px; padding: 10px;}
.fashion-hd select:hover{color: #f68b1e;}
.fashion-hd select{width: 150px; border: none; outline: none; cursor: pointer; font-size: 15px;}
.fashion-hd option{border: none; outline: none; cursor: pointer; font-size: 15px;}
#found{color: #997f8e; padding-top: 10px; padding-bottom: 10px;}
.jum img{width: 80px; height: 10px;}
.jum{margin-left: 10px;}
.jum p{font-size: .625rem;}
.jum button{background-color:#f68b1e; color: white; margin-top: 10px; width: 165px; padding: 8px; font-size: 18px; outline: none; border: none; font-weight: 550;}
/* dresses */
